@use "../abstracts/variables" as v;

.chairs {
    display: grid;
    grid-template-columns: repeat(10, 5rem);
    grid-template-rows: repeat(6, 5rem);
    gap: 2rem;
    background-color: v.$color-primary;
    padding: 20px;
    border-radius: 5px;

    &__chair{
        justify-self: center;
        position: relative;

        &--reserved{ 
            color: v.$color--senary;
            
            
        }
        &--not-reserved {
            &:hover{
                color: v.$color-tertiary;
            }
        }

       

        &__icon {
            padding: .5rem;
            height: 5rem;
        }

        &__number {
            // position: absolute;
            top: 50%;
            color: black;
            
        }

        
    }
}