@use "../abstracts/variables" as v;

.chairs {
    display: grid;
    grid-template-columns: repeat(10, 5rem);
    grid-template-rows: repeat(6, 5rem);
    gap: 2rem;
    background-color: v.$color-primary;
    padding: 20px;
    border-radius: 5px;

    &__chair{
        justify-self: center;
        &__icon {
            padding: .5rem;
            height: 5rem;
        }
        &:hover{
            color: v.$color-tertiary;
        }
    }
}