@use '../abstracts/variables' as v;

.form-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: v.$color-primary;
    border-radius: 7px;

    min-height: 90%;

    flex-wrap: wrap;

    .heading-primary {
        font-size: v.$heading-secundary;
    }

    &__info {
        display: flex;
        flex: 0 0 20rem;
        align-items: center;
        &__form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 25rem;
        }
    }

    &__brand {
        display: flex;
        align-items: center;
        &__clipBoard {
            width: 50vw;
            max-width: 35rem;
        }
    }
}




