@use '../abstracts/variables' as v;

.how-many {
    color: v.$color-primary;
    font-size: 1.8rem;

    &__content {
        display: flex;
        justify-content: space-around;

        margin: 5rem 0;
        font-size: 3rem;
    }

    &__button-section {
        display: flex;
        justify-content: center;
    }
}