@use "../abstracts/variables" as v;

.my-reserves {
    box-shadow: v.$color-light-shadow-secundary;
    width: 100%;
    height: 90%;
    &__purchase-navbar {
        &__ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            &__li {
                &__link {
                }
            }
        }
    }
}
