@use '../abstracts/variables' as v;

.navbar {
   display: flex;
   // background-color: v.$color-primary;
   background-color: v.$color-primary;
   justify-content: space-between;
   align-items: center;
   color: v.$color-secundary;

   font-size: 1.5rem;
   padding: 0 1rem;
   height: 5rem;
   border-radius: 4px;

   box-shadow: 0px 2px 10px rgba($color: #474747, $alpha: .5);

   // .brand {
   //    width: 17.3rem;
   // }

   &__links {
      display: flex;

      &__item {
         list-style: none;

         &__link {
            color: inherit;
            text-decoration: none;
            position: relative;
         }

         &:not(:last-child) {
            margin-right: 2rem;
         }
      }
   }

   .brand {
      &__name {
         color: inherit;
         text-decoration: none;
      }
   }

}

.brand {
   display: flex;
}

.active {
   transition: all .5s;
}

.active::after {
   content: "";
   height: .2rem;
   width:  0%;
   position: absolute;
   background-color: v.$color-secundary;

   top: 110%;
   left: 0;
   border-radius: 100px;

   transition: width 0.3s ease;
}

.active::after {
   width: 100%;
}