@use "../abstracts/variables" as v;

.unique-reserve {
    box-shadow: v.$color-light-shadow-secundary;
    // font-size: 1.6vw;
    font-size: 1.4rem;
    margin: 1.5rem ;

    &__content {
        margin: 5rem ;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-rows: repeat(9, minmax(6rem,3.5vw));

        &__item {
            
        }
    }
}
