$color-primary: rgb(56, 169, 221);
$color-secundary: #fff;
$color-tertiary: #0a041f;
$color-quaternary : #dddddd;
$color--quinar :rgba(#000, .2);
$color--senary: #d81515;

$color--disabled-backgroud: #a7a7a7e8;
$color--disabled-font: #c2c2c2e8;

$color--error-primary: #a52e2e;

$color-shadow-primary: 0 4px 4px rgba(#000, .2);


$heading-primary: 2.8rem;
$heading-secundary: 2.5rem;
$heading-tertiary: 1.5rem;